<header xmlns:th="http://www.thymeleaf.org" th:fragment="header_fragment">   
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a th:href="@{/customer/index}" class="navbar-brand"><div class="h3 m-0">Sticker Generator</div></a>
        <div th:if="${customerInfo != null}" class="navbar-nav ml-auto">
            <a class="nav-item nav-link active ml=1" th:href="@{/customer/index}">ホーム</a>
            <a class="nav-item nav-link active ml=1" th:href="@{/customer/index}">ガイド</a>
            <a class="nav-item nav-link active ml=1" href="/customer/viewCartItems"
                    th:href="@{/customer/viewCartItems/{customerId}(customerId=${customerInfo.id})}">カート</a></li>
            <div class="dropdown">
                <a class="btn btn-info dropdown-toggle ml=2" type="button" data-toggle="dropdown">ログイン中</a>
                  
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="###" class="dropdown-item">会員情報編集</a></li>
                
                    <li><form th:action="@{/logout}" name="logout" method="POST">
                        <a href="javascript:logout.submit()" class="dropdown-item">ログアウト</a>
                    </form></li>
                </ul>
            </div>
        </div>

        <div th:unless="${customerInfo}" class="navbar-nav ml-auto">
            <a class="nav-item nav-link active ml=1" th:href="@{/customer/index}">ホーム</a>
            <a class="nav-item nav-link active ml=1" th:href="@{/customer/index}">ガイド</a>
            <a class="nav-item nav-link active ml=1" th:href="@{${url1}}">ログイン</a>
            <a class="nav-item nav-link active ml=2" th:href="@{${url2}}">会員登録</a>
        </div>
    </nav>
</header>