main {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 5vh;
}

  h3.title {
      margin-bottom: 0;
      color: #555e64;
      margin-top: 20px;
  }
  
  #main-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  
  }
  
  #main-content-1 {
    flex-grow:2;
    flex-basis: 60%;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
  
  }
  
  .item-img-container {
    border: 1px solid #abb2b7;
    margin-right: 5vw;
    width: 100%;
    height: 100%;
  }
  
  .radio-wrapper {
    border-bottom: 1px solid #abb2b7;
    border-right: 1px solid #abb2b7;
    width: 30%;
    min-width: 300px;
  }
  
  .radio-container {
    display: flex;
  }
  
  input[type='number'] {
    width: 30%;
    min-width: 300px;
    display: flex;
    padding: 12px 0;
    margin: 0;
    border: none;
    text-align: center;
    border: 1px solid #abb2b7;
    color: #555e64;
  }
  
  input#quantity:hover {
    border: 1px solid #555e64;
  }
  
  
  .radio-container input {
      display: none;
  }
  .radio-container label {
    display: block;
    float: left;
    cursor: pointer;
    width: 100%;
    margin: 0;
    padding: 12px 5px;
    border: 1px solid #abb2b7;
    border-bottom: 0px;
    color: #abb2b7;
    font-size: 14px;
    text-align: center;
    line-height: 1;
  }
  
  .radio-container label:hover {
      color: #fff;
      background: #abb2b7;
  }
  
  .radio-container label:last-of-type {
      border-right: 0px;

      
  }
  .radio-container input[type="radio"]:checked + label {
    color: #fff;
      background: #a5c9c1;
  
  }
  
  .btn_area_center input {
    width: 30%;
    min-width: 300px;
    padding: 12px 0;
    margin: 10px 0 0 0;
    background: #fa8072;
    color: #fff;
    border: none;
    text-align: center;
  }
  
  .btn_area_center input:hover {
      background: #ff6347;
  }

  #price-container {
    font-size: 200%;
    margin: 25px 0 0 0;
    text-align: right;
  }