<!DOCTYPE html>
<html lang="ja">
<head th:replace="commons/head :: head_fragment(title = 'Home', scripts = ~{::script}, links = ~{::link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <script type="text/javascript" th:src="@{/scripts/home.js}"></script>
</head>

<body>
    <div th:replace="commons/header :: header_fragment"></div>
    <main>
        <div id="main-content-wrapper">
            <div id="main-content-1">
                <h3 class="title">作成イメージ</h3>
                <div class="item-img-container">

                </div>
            </div>

            <div id="main-content-2">
                <form th:action="@{cart/add}" th:object="${cartItemForm}" th:method="put">
                    <div th:if="${customerInfo}">
                        <input type="hidden" th:value="${customerInfo.id}" th:attr="name='customerId'" />
                    </div>
                    <div th:unless="${customerInfo}">
                        <input type="hidden" th:value="3" name="*{customerId}" />
                    </div>
                    <h3 class="title">完成サイズ</h3>
                    <div class="radio-wrapper">
                        <div class="radio-container" th:each="item : ${materialList}">
                            <input type="radio" class="custom-input" th:value="${item.id}" th:field="*{materialId}" />
                            <label class="custom-label" th:for="${#ids.prev('materialId')}" th:text="${item.material}"></label>
                        </div>
                    </div>
                                <!-- <div th:if="${#fields.hasErrors('radio')}" th:errors="*{radio}" class="help-block">error</div> -->
                    <h3 class="title">色</h3>
                    <div class="radio-wrapper">          
                        <div class="radio-container" th:each="item : ${colorList}">
                            <input type="radio" class="custom-input" th:value="${item.id}" th:field="*{colorId}" />
                            <label class="custom-label" th:for="${#ids.prev('colorId')}" th:text="${item.color}"></label>
                        </div>
                    </div>
                    <h3 class="title">作成方法</h3>
                    <div class="radio-wrapper">
                        <div class="radio-container" th:each="item : ${methodList}">
                            <input type="radio" class="custom-input" th:value="${item.id}" th:field="*{methodId}"/>
                            <label class="custom-label" th:for="${#ids.prev('methodId')}" th:text="${item.method}"></label>
                        </div>
                    </div>
                            
                                <!-- <div th:if="${#fields.hasErrors('radio')}" th:errors="*{radio}" class="help-block">error</div> -->
                    <h3 class="title">製作枚数</h3>  
                    <div id="number-container">
                        <td><input type="number" value="1" min="1" max="999" th:field="*{quantity}"></td>
                    </div>
                    <div class="btn_area_center"><input type="submit" value="カートに追加" class="btn"></div>
                </form>
            </div>
        </div>
    </main>

</body>

</html>