<!DOCTYPE html>
<html lang="ja">

<head th:replace="commons/head :: head_fragment(title = 'Signup', scripts = ~{::script}, links = ~{::link})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <script type="text/javascript" th:src="@{/scripts/login.js}"></script>
</head>

<body>
    <div th:replace="commons/header :: header_fragment"></div>
    <main>
        <div class="input-content-container">
            <!--/* エラー時にメッセージを表示 */-->
            <div class="alert" th:each="error : ${validationMessage}">
                <span th:text="${error}"></span>
            </div>
            <form th:action="@{/customer}" action="/customer" th:object="${customerForm}" th:method="post">

                <div class="input-content-item">
                    <input type="text" class="form-controll" name="email" th:field="*{email}" placeholder="メールアドレス" />
                </div>
                <div class="input-content-item">
                    <input type="password" class="form-controll" name="password" th:field="*{password}"
                        placeholder="パスワード">
                </div>
                <div class="input-content-item">
                    <input type="password" class="form-controll" name="confirm-password" th:field="*{confirmPassword}"
                        placeholder="確認用パスワード">
                </div>
                <div class="btn_area_center"><input type="submit" value="新規会員登録" class="btn"></div>

            </form>
        </div>
    </main>
</body>

</html>